@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700&family=Sriracha&display=swap');
:root {
    --fonte01: 'Passion One', serif;
    --fonte02: 'Sriracha', Arial;
    --fonte03: Verdana, Helvetica, sans-serif;
}
* {
    padding: 0;
    margin: 0;
}
html, body {
    min-width: 100vh;
    font-family: var(--fonte03);
    font-size: 1em;
}
.estrofes {
    font-family: var(--fonte02);
}