@charset "utf-8";
body{
    background-color: #5891DB;
    color: #B5D1F5;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.75em;
}
p{
    font-size: 1em;
    text-align: justify;
}
#principal{
    text-align: center;
    background-color: #2c365e;
    font: normal 2em 'times new roman', senrif;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    color: #ffffff;
}
.size{
    font-size: 1.25em;
    text-align: right;
}
a{
    color: #B5D1F5;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
a:visited{
    color: rgb(214, 113, 113);
}
a:active{
    color: #233857;
}
a:hover{
    text-decoration: underline;
    color: white;
}
a::after{
    content: " [link]";
    text-decoration: none;
    color: #B5D1F5;
}
div{
    width: 700px;
    height: 740px;
    background-color: #4E73A6;
    opacity: 70%;
    border-radius: 50px;
    display: flexbox;
    margin: auto;
}