@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    background-color: brown;
}
main {
    min-width: 600px;
    max-width: 1050px;
}
img {
    width: 100%;
}
.esp {
    position: relative;
    top: 0px;
    left: 0px;
}
#astro {
    max-width: 100px;
    display: block;
    margin: auto;
}
.astro {
    position: absolute;
    top:110px;
    
}
