@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background-color: rgba(245, 229, 212, 0.918);
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color: gray;
    padding: 15px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
header h1 {
    color: white;
    text-shadow: 1px 1px 2px black;

    flex: 0 0 200px
}
header nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}
header a{
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: black;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}
header a:hover {
    background-color: white;
    color: black;
    transition: 0.3s;
}
main {
    width: 97%;
    background-color: white;
    margin: 10px auto;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 1px 1px 5px black;
}
main h2 {
    margin-bottom: 15px;
}
main p {
    margin-bottom: 15px;
    text-align: justify;
}

@media screen and (max-width: 580px){
    header, header nav {
        display: flex;
        flex-flow: column wrap;
    }
    header h1{
        flex: 0 0 50px;
    }
    header nav a{
        width: 90vw;
    }
};