@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    font-size: 1em;
    line-height: 1.5em;
}
h1, h2, p{
    margin-bottom: 1em;
    text-align: justify;
}
header, section.normal{
    padding: 1em;
}
header h1{
    font-size: 2em;
    padding-top: 15px;
}
section.flex-content{
    background-color: #333;
    color: #fff;
    padding: 1em;

    display: flex;
    flex-flow: column nowrap;
}
article.media-text{
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-between;
}
article.text-media{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
article > div.text{
    flex: 1 1 500px;
}
article > div.media{
    flex: 1 0 500px;
    margin: auto;
}
div.media > img, iframe{
    display: block;
    margin: auto;
    padding-bottom: 15px;
}