@charset "utf-8";
/* General configurations */

*{
    margin: 0;
    padding: 0;
}
html, body{
    width: 100vw;
    height: 100vh;
    background-color: #233EFF;
    font-family: Arial, Helvetica, sans-serif;
    background-size: contain;
    background-repeat: no-repeat;
}

/* Horizontal configurations */

@media screen and (orientation: portrait) {
    body{
    background-color: #233EFF;
    background-image: url(../imagens/cev-portrait.jpg);
    background-position: center bottom;
    }
}

/* Vertical configurations */

@media screen and (orientation: landscape) {
    body{
    background-color: #233EFF;
    background-image: url(../imagens/cev-landscape.jpg);
    background-position: left bottom;
    }
}