@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background-color: lightskyblue;
}
header {
    background-color: yellowgreen;
}
header h1 {
    color: white;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    font-size: 2.3em;
    padding: 10px;
}
#burguer {
    display: block;
    background-color: rgb(33, 44, 9);
    color: white;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}
#burguer:hover {
    background-color: white;
    color: black;
}
menu {
    display: none;
}
header li {
    text-align: center;    
    background-color: lightskyblue;
}
header a {
    display: block;
    list-style-type: none;
    text-decoration: none;
    color: white;
    background-color: rgb(65, 88, 17);
    padding: 10px;
    border-top: 2px solid yellowgreen;
}
header a:hover {
    background-color:rgba(40, 54, 10, 0.89);
}
main {
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}
main > h2, p {
    padding: 10px;
}
main h2 {
    text-align: center;
}
main p {
    text-align: justify;
    text-indent: 20px;
}