@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    margin: 0;
    padding: 0;
    background-color: #3ddb84;
    font-family: "Bebas Neue", sans-serif;
    text-decoration: none;
}
