@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'android';
    src: url(./pacote-projeto-d010/fontes/idroid.otf);
    font-weight: normal;
}
:root{
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: arial, verdana, helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', sans-serif;
    --fonte-android: 'android', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: var(--fonte-padrao);
}
body{
    background-color: var(--cor1);
}
header{
    color: white;
    text-align: center;
    height: 150px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-shadow: 0.8px 2px 3px black;
    background-color: #2fa866;
    background-image: linear-gradient( #3ddc84, #2fa866, #1a5c37);
}
header > h1{
    font-family: var(--fonte-destaque);
    font-size: 2.8em;
}
header > p{
    font-size: 1.2em;
    padding: 30px;
    width: 535px;
    margin: auto;
    font-weight: lighter;
}
nav{
    height: 35px;
    background-color: #1a5c37;
    box-shadow: 1px 0.5px 1px black;
}
nav > a{
    color: white;
    font-size: 18px;
    margin: 15px;
}
nav > a:hover{
    padding: 5px;
    font-size: 1.1em;
    transition: 0.5s;
    font-weight: bold;

}
main{
    background-color: white;
    width: 800px;
    margin: auto;
    border-radius: 1px 1px 10px 10px;
    padding: 20px;
    margin-bottom: 15px;
    box-shadow: 0px 2px 8px black;
}
main > article > h1, h2{
    font-family: var(--fonte-android);
    color: var(--cor4);
}
main > article > h1{
    padding-bottom: 20px;
}
main > article > h2{
    padding: 1px 0px 1px 10px;
    margin: 15px 0px 15px 0px;
    background-image: linear-gradient(to right, var(--cor0), white);
}
main > article > p{
    font-size: 18px;
    text-align: justify;
    text-indent: 30px;
    padding: 1px 0px 1px 10px;
    margin: 5px 0px 5px 0px;
}
main > article > p > strong{
    color:var(--cor4);
}
main > article > p > a{
    color: var(--cor5);
    font-weight: bold;
}
main > article > p > a:hover{
    padding: 1px;
    font-size: 1.05em;
    transition: 0.5s;
    font-weight: bolder;
    text-decoration: underline;
}
footer{
    background-color: var(--cor4);
    text-align: center;
    color: white;
    height: 25px;
}