@charset "utf-8";
/* Configuração de folha de impressão*/

*{
    margin: 10px;
    padding: 10px;
}
html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    line-height: 1.5em;
}
ul{
    display: none;
}
article::after{
    content: 'Este artigo foi impresso atráves do curso em vídeo.';
}