@charset "utf-8";
/* Configuração de tela*/

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: brown;
    color: white;
}
header h1{
    text-align: center;
    padding: 25px;
    background-color: rgb(77, 22, 22);
}
header ul{
    background-image: linear-gradient(to bottom, rgb(77, 22, 22), rgb(109, 27, 27));
}
header ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px;
}
main{
    width: 800px;
    margin: auto;
    background-color: white;
    color: brown;
}
main h2{
    text-align: center;
}
main p{
    text-align: justify;
}
main h2, p{
    padding: 15px;
}