@charset "utf-8";
/* General configurations */

*{
    margin: 0;
    padding: 0;
}
html, body{
    width: 100vw;
    height: 100vh;
    background-color: #233EFF;
    font-family: Arial, Helvetica, sans-serif;
    background-size: contain;
    background-repeat: no-repeat;
}